/* Patterns And Filters */
.background_image {
    mix-blend-mode: color-dodge;
}

.background_text {
    background: url(@/assets/images/patterns/textColor.png);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;

    &:hover {
        -webkit-text-fill-color: white;
    }
}

.bg_pattern {
    background-image: url(@/assets/images/patterns/Rectangle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        background-image: url(@/assets/images/patterns/Rectangle_trans.png);
    }
}

.bg_pattern_trans {
    background-image: url(@/assets/images/patterns/Rectangle_trans.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass_effect {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
    display: flex;
    width: max-content;
}

/* Footer Style */
.footer_background {
    background-image: url(../../assets/images/for_hero/footer.png);
    background-position: center;
    background-size: cover;
    height: 529px;
}